.uib-timepicker {
	width: auto;
}
.uib-time input {
	width: 50px;
	margin-bottom: 0;
}
.uib-increment button,
.uib-increment .button,
.uib-decrement button,
.uib-decrement .button,
.uib-time.am-pm button,
.uib-time.am-pm .button {
	margin-bottom: 0;

}