$n-uib-foundation-timepicker-input-width: 50px !default;
$n-uib-foundation-timepicker-button-padding: 4px !default;

@mixin n-uib-foundation-timepicker {
	.uib-timepicker {
		width: auto;

		tbody tr:nth-child(even) {
			background-color: transparent;
		}
	}
	.uib-time input {
		width: $n-uib-foundation-timepicker-input-width;
		margin-bottom: 0;
	}

	.uib-increment button,
	.uib-increment .button,
	.uib-decrement button,
	.uib-decrement .button {
		padding: $n-uib-foundation-timepicker-button-padding;
		.material-icons {
			display: block;
		}
		svg {
			vertical-align: middle;
		}
	}

	.uib-increment button,
	.uib-increment .button,
	.uib-decrement button,
	.uib-decrement .button,
	.uib-time.am-pm button,
	.uib-time.am-pm .button {
		margin-bottom: 0;
	}
}