$n-uib-foundation-popover-animation-timing: .3s !default;
$n-uib-foundation-popover-animation-easing: ease-out !default;

@mixin n-uib-foundation-popover {
	[uib-popover-popup],
	[uib-popover-html-popup],
	[uib-popover-template-popup] {
		@include dropdown-container;
		visibility: visible;
	}
}

@mixin n-uib-foundation-popover-animation {
	// Mimic the default animation of the Bootstrap Modal.
	.popover {
		transition: opacity $n-uib-foundation-popover-animation-timing $n-uib-foundation-popover-animation-easing;
		opacity: 0;
	}
	.popover.in {
		opacity: 1;
	}
}