.uib-datepicker-popup {
	@include dropdown-container;
	visibility: visible;
	width: auto;

	padding: $global-padding / 2;

	table {
		margin-bottom: 0;
	}
	.uib-button-bar {
		padding-left: 0;
		padding-right: 0;
	}
	.uib-button-bar button,
	.uib-button-bar .button {
		margin-bottom: 0;
	}
}