$n-uib-foundation-datepicker-popup-padding: $global-padding / 2 !default;

@mixin n-uib-foundation-datepicker-popup {
	.uib-datepicker-popup {
		@include dropdown-container;
		visibility: visible;
		width: auto;

		padding: $n-uib-foundation-datepicker-popup-padding;

		table {
			margin-bottom: 0;
		}
		.uib-button-bar {
			padding-left: 0;
			padding-right: 0;
		}
		.uib-button-bar button,
		.uib-button-bar .button {
			margin-bottom: 0;
		}
	}
}