$n-uib-foundation-accordion-border: $accordion-content-border;
$n-uib-foundation-accordion-disabled-color: $dark-gray;
$n-uib-foundation-accordion-disabled-background: lighten($light-gray, 5%);

$n-uib-foundation-collapse-animation-timing: .3s;
$n-uib-foundation-collapse-animation-easing: ease-out;

$n-uib-foundation-datepicker-cell-padding: rem-calc(4 2);
$n-uib-foundation-datepicker-button-color: $secondary-color;
$n-uib-foundation-datepicker-button-active-color: $primary-color;
$n-uib-foundation-datepicker-button-selected-color: $primary-color;
$n-uib-foundation-datepicker-button-muted-color: lighten($secondary-color, 35%);
$n-uib-foundation-datepicker-button-font-size: 0.75rem;
$n-uib-foundation-datepicker-button-icon-padding: 4px;
$n-uib-foundation-datepicker-week-padding: $button-padding;
$n-uib-foundation-datepicker-week-font-size: rem-calc(12);

$n-uib-foundation-datepicker-popup-padding: $global-padding / 2;

$n-uib-foundation-dropdown-min-width: $dropdownmenu-min-width;
$n-uib-foundation-dropdown-background: $dropdownmenu-background;
$n-uib-foundation-dropdown-border: $dropdownmenu-border;

$n-uib-foundation-modal-wrapper-animation-timing: .3s;
$n-uib-foundation-modal-wrapper-animation-esing: ease-out;
$n-uib-foundation-modal-reveal-animation-timing: .3s;
$n-uib-foundation-modal-reveal-animation-esing: ease-out;
$n-uib-foundation-modal-backdrop-animation-timing: .15s;
$n-uib-foundation-modal-backdrop-animation-esing: linear;

$n-uib-foundation-progressbar-animation-timing: .6s;
$n-uib-foundation-progressbar-animation-easing: ease;

$n-uib-rating-item-padding: $label-padding;

$n-uib-foundation-time-input-width: 50px;
$n-uib-foundation-time-button-padding: 4px;
