$n-uib-foundation-accordion-border: $accordion-content-border;
$n-uib-foundation-accordion-disabled-color: $dark-gray;
$n-uib-foundation-accordion-disabled-background: lighten($light-gray, 5%);

$n-uib-foundation-time-input-width: 50px;
$n-uib-foundation-time-button-padding: 4px;
